
.App {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background: url(https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0,0,0,0.25);
  background-blend-mode: darken;
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}
.search-button {
  background: rgb(2, 139, 75);
  border: none;
  padding: 10px 20px;
  color: #f5f4f4;
  font-weight: bold;
  border-radius: 3%;

}
.search-button:hover {
  background: rgb(173, 37, 3);
  border: none;
  padding: 10px 20px;
  color: #f5f4f4;
  font-weight: bold;

}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-title{
  font-family: 'Lobster', cursive;
  font-size: 75px;
  text-shadow: 0px 2px 0px #f4f5f4;
  margin-top: 0;
  padding: 20px 0;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 980px) {
.main-title{
  font-size: 50px;
  }
}

@media screen and (max-width: 400px) {
.main-title{
  font-size: 40px;
  }
}


